#body-article {
    min-height: 60vh;
}

#colored-header {
    border-bottom: 5px solid #cccccc !important;
    min-height: 20vh;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-top: 80px;
    
}
#colored-footer {
    border-top: 5px solid #4aaaa5 !important;
    min-height: 20vh;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


/* navbar css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: 
    color: #777777;
    text-align: center;
    padding: 14px 16px !important;
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


img {
    height: auto;
    width: 100%;
    display: table-cell !important; 
    
    max-width: 235px;
}

/*index home page mugshot*/
#myPic {
    float: left;
    padding-right: 20px;
}


/*testing out different filters to add something cool*/
.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.brightness {-webkit-filter: brightness(250%);filter: brightness(250%);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}

/*form inputs css*/

#form-box {
    padding-top: 50px;
    padding-bottom: 130px;
}



/* footer for all pages from previous assignment week1
footer {
    clear: both;
    bottom: 0px;
    text-align: center;
    background: #666666;
    height: 100px;
    margin: 0px auto;
    border-top: 5px solid #4aaaa5;
    width: 100%;
    
} */


